#define AMBIENT_MODE

#define DEBUG_MODE 1
//#define DEBUG_MODE_2

//closest NTP Server
#define NTP_SERVER "0.us.pool.ntp.org"

//GMT Time Zone with sign
#define GMT_TIME_ZONE -8

//MP3 Volume 0-30
#define MP3_VOLUME 30
#define AUDIO_TRACKS 3


//Audio analysis MIN-MAX 0-1024

#define OUT_MIN 0
#define OUT_MAX 1024
#define LED_OSC_PERIOD 10000 // 10 seconds
#define LED_OSC_MAX_AMP 768 // max PWM on Ambient mode


// Audio analisys
#define N_PIXELS  500  // Number of LEDs
#define MIC_PIN   A0  // Microphone is attached to this analog pin
#define DC_OFFSET  0  // DC offset in mic signal - if unusure, leave 0
#define NOISE     10  // Noise/hum/interference in mic signal
#define SAMPLES   100  // Length of buffer for dynamic level adjustment
#define TOP       (N_PIXELS + 2) // Allow dot to go slightly off scale
#define PEAK_FALL 10  // Rate of peak falling dot

#define LED_PIN D4


//Events

////EVENT 1 
//
#define E1_START_TIME "11:34:00"// 
#define E1_END_TIME "12:11:00"
#define E1_PERIOD "00:01:00"
#define E1_LENGTH "00:00:10"

////EVENT 2
//
#define E2_START_TIME "11:34:30"
#define E2_END_TIME "12:11:00"
#define E2_PERIOD "00:01:00"
#define E2_LENGTH "00:00:10"

#define SCHEDULER_START_TIME "12:06:50"
#define SCHEDULER_END_TIME "12:10:00"

